.container-login {

    width: 100%;
    background-image: url(background-cadastro-linhas.png);
    height: 80vh;

    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: space-around;
    align-items: center;


}

.container-login .formulario {
color: aliceblue;
    width: 400px;
    height: 500px;
    
flex-direction: column;
    display: flex;
    align-items: center;


}


 .formulario .butao{

    display: flex;
    width: 70%;
    justify-content: space-around;
    margin-top: 20px;
 }

 .formulario .dados{
width: 100%;
display: flex;

flex-direction: column;
color: white;







 }
 .dados input{
     border-radius: 18px;
     padding: 5px;
 }

 .butao button{
border: none;
padding: 10px;
border-radius: 10px;
font-weight: bolder;

 }
 .butao button:hover{
     color: white;
     background-color: #1d1d1d;
     
 }