body {
    background-color: black;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* -----------------------NAVEGAÇÃO DO SITE--------------------------------- */
.header {
    color: white;
    background-color: black;
    border-bottom: 6px solid white;

}

.header .container {
    display: flex;
    margin: auto;
    flex-direction: column;
}

.container .brand {
    display: flex;
    justify-content: center;
}

.navbar {
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    background-color: #00418C;
    align-items: center;
    height: 30px;
    margin: 0;
    padding: 10px;
    text-decoration: none;
}

/* ------------------------CORPO DO SITE------------------------------ */
.container-corpo {
    display: flex;
    background-image: url(../img/Banner.png);
    background-size: cover;
    justify-content: center;
    align-items: center;
    height: 500px;
}

.banner1 {
    display: flex;
}

.banner1 p {
    padding: 0;
    margin: 0;
    width: 380px;
    font-size: 19px;
    color: rgb(255, 255, 255);
}

.group-buttons {
    display: flex;
    justify-content: space-between;
}

/* ----------Botões----------- */
.button-simular {
    color: #fff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 10px;
    font-weight: bolder;
    background-color: #00418C;
    height: 30px;
    width: 150px;
    border: 0;
    box-shadow: 1px 1px 1px gray;
}

.button-contato {
    border-radius: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bolder;
    color: #00418C;
    height: 30px;
    width: 150px;
    border: 0;
    box-shadow: 1px 1px 1px gray;
}

.btn_cadEmpresa {
    height: 75px;
    background-color: #4d4d4d;
    border: 0;
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    align-self: center;
}

/* -----------------------RODAPÉ--------------------------------------- */
.footer {
    margin: 0;
    color: #fff;
    border-top: 3px solid white;
}

.footer .container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 30px 0px 30px 0px;
}

.footer .direitos {
    align-items: center;
    background-color: #4d4d4d;
    text-align: center;
    font-size: 11px;
    line-height: 50px;
    margin: 0;
}

/* --------------------------Sobre Nós-------------------------------------- */
.container-sobreNos {
    background-image: url(../img/background-sobreNos.png);
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 900px;
}

.banner-sobreNos {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

/*<!-------------------------------------Descrição dos valores da empresa----------------------------------------------> */
.sobreNos-logo {
    width: 150px;
    height: 180px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: baseline;
}

.sobreNos-logo p {
    font-size: 40px;
    color: rgb(255, 255, 255);
}

.sobreNos-cabecario {
    padding-left: 15px;
}

p {
    margin: 0;
    width: 380px;
    font-size: 19px;
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.sobreNos-display {
    width: 400px;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.box-mvv {
    display: flex;
    flex-direction: row;
}

.sobreNos-enunciado {
    background-color: #4d4d4d;
    border: white 5px solid;
    padding-left: 10px;
    width: 300px;
    height: 250px;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.sobreNos-enunciado p {
    padding: 0;
    margin: 0;
    width: 380px;
    font-size: 18px;
    color: rgb(255, 255, 255);
}

/* ---------------------------------------------------Empresas cadastradas------------------------------------------------------------------ */
.navbar-empCadast {
    display: flex;
    list-style: none;
    justify-content: space-between;
    background-image: linear-gradient(to right, #000, #4F4F4F);
    align-items: center;
    height: 50px;
    margin: 0;
    padding: 10px;
}

.container-empCadastradas {
    background-image: url(../img/background1.png);
    background-size: cover;
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.navbar-empCadast .li1 {
    border-right: 2px solid #fff;
    width: 150px;
    text-decoration: none;
}

.navbar-empCadast .li {
    font-size: 100px;
    color: #ffffff;
    text-decoration: none;
}

.div_container_empresas_cadast {
    background-color: #ffffff;
    height: 15vh;
    width: 70vw;
    border: 3px solid #00418C;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 5px;

}

.vizu_linha {
    background-color: #000;
    height: 30%;
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 5px 5px 5px gray;
}

.container-empCadastradas-footer {
    background-color: rgb(100, 96, 96);
    height: 10vh;
    width: 72%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* --------------------------------Inputs para calculadora do gestor------------------------------------------------------ */
.ipt-calc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    padding-right: 10px;

}

.ipt-valor {
    padding-top: 30px;
}

.resul {
    background-color: #4d4d4d;
    border: white 5px solid;
    padding-left: 10px;
    width: 400px;
    height: 150px;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* --------------------------------------------------------------------------------- */

/*                            ESTILIZAÇÃO DE TEXTO */

.texto-principal-empCadastrada {
    color: white;
    font-weight: lighter;

}

.texto_mediano_btn {
    color: #ffffff;
    font-weight: bolder;
    align-items: center;
    font-size: 20px;
}

.uso_local {
    color: #00418C;

}

.navbar ul {
    text-decoration: none;
}

/*                  Formatação de icones   e imagens            */

.engranagem-icone {
    height: 30px;
    padding-left: 44px;
    padding-right: 12px;

}



.imagens-empresas-cad {
    height: 103px;
    width: 20%;

}



/*------------------HEADER / NAVEGAÇÃO DO SITE DO GESTOR---------------------------------*/

.header-da-gestao {
    color: #fff;
    background-image: linear-gradient(to right, black, gray);
    display: flex;
    justify-content: center;
}

.container-navbar {
    display: flex;
    width: 80%;
}

.navbar-da-gestao {
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    padding: 0;
    width: 600px;
    align-items: center;
}
/*----Esse estilo é Para indicar em qual pagina está-----*/
.pagina-atual { 
    font-weight: bolder;
    font-size: 15px;
}

/*----tirando o estilo da formatação da ancora (link) ---*/
.navbar-da-gestao li a {
    text-decoration: none;
    color: #d5d5d5;
}
/*---------------------------------------------------------------------------------------------------------------*/
/*-------------------------------PAGINA (VISUALIZAR LINHAS )---------------------------------------*/
/*---Banner-logo-(Area Branca com Logo no meio)---*/
.banner-logo {
    display: flex;
    height: 200px;
    background-color: #fff;
    justify-content: center;
    align-items: center;
    border-bottom: 5px solid #000;
}

/*----Aqui começa o Corpo do Site, onde contém os conteudos--*/
.container-corpo-linhas {
    display: flex;
    color: rgb(0, 0, 0);
    background-image: url(../img/background-linhas.png);
    justify-content: center;
}

/*----Quadro das linhas/rotas----*/
.quadro {
    display: flex;
    flex-direction: column;
    width: 60%;
}

/*----Cabeçalho do Quadro----*/
.quadro .cabecalho {
    background-color: #aaaaaa;
    text-align: center;
    margin-top: 50px;
}

/*----Rodapé do Quadro----*/
.quadro .rodape {
    background-color: #aaaaaa;
    text-align: center;
    margin-bottom: 50px;
}

/*----Tuplas do Quadro----*/
.tupla {
    display: flex;
    align-items: center;
    background-color: #000000;
    padding: 20px 30px 20px 30px;
    border-bottom: 2px solid #d5d5d5;
}

/*----Botão (numero da Linha)----*/
.button-linha {
    color: #000;
    font-weight: bolder;
    font-size: 19px;
    margin-left: 10px;
    height: 40px;
    width: 200px;
    border-radius: 30px;
    cursor: pointer;
}

/*----Nome da Linha----*/
.nome-linha {
    color: #fff;
    font-size: 17px;
    margin-left: 12px;
}
/*---------------------------------------------------------------------------------------------------------------*/