
*{margin: 0;
}

.navbar-cadastradas{
  
    display: flex ;
    list-style: none;
    justify-content: space-evenly;
background-color: white;
    align-items: center;
    height: 50px;
    margin: 0;
    padding: 10px;
    flex-direction: row;
    margin: 0px;
}


.dados-empress{
    font-weight: bolder;
    display: flex;
    gap: 10px;
    color: #000000;
    display: flex;
    justify-content: space-around;
}

li{
    padding: 10px;
}

.empress-empress{
margin: 0px;
    border-left: 2px solid black;
    }


    .container-linhasc{

        width: 100%;
        background-image: url(../img/fundos.png);
        height: 120vh;
        background-size: cover;
        background-position: center;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0px;
}

.container-linhasc .formulario {
    color: rgb(0, 0, 0);
        width: 400px;
        height: 500px;
        
    flex-direction: column;
        display: flex;
        align-items: center;
        
}

.quadros-empress {
    display: flex;
    flex-direction: column;
    width: 20%;
    
  }

  .ontainer-linhas-cada {
    display: flex;
    color: rgb(0, 0, 0);
    justify-content: center;
   
    }

    .quadros-empress {
        display: flex;
      flex-direction: column;
      
        
    }
    .empress-cabecalho {
        background-color: #545454;
        text-align: center;
       width: 710px;
        font-size: 20px;
    }

    .tuplas-empress {
        display: flex;
        align-items: center;
        background-color: #ffffff;
        padding:  30px;
        border-bottom: 1px solid #d5d5d5;
     justify-content: flex-start;
        height: 11px;
        width: 650px;
      font-size: 20px;
        }


        .linha-empress {
            color: rgb(0, 0, 0);
            font-size: 17px;
            margin-left: 12px;
            font-size: 25px;
            }


            


              .container-rodape-empress{
                background-color: #000000;
            display: flex;
            justify-content: space-around;
            color: aliceblue;
            flex-wrap: wrap;
            background-size: cover;
            padding: 20px;
            gap: 10px;
            
            }
            .container-rodape-empress .baixo{
            width: 100%;
            display: flex;
            justify-content: center;
            gap: 10px;
            }
            
            
            .container-rodape .boxicon-empress{
            display: flex;
            gap: 40px;
            
            
            
            } 
            
            .boxicon-empress img{
                width: 30px;
             
            }
            
            .boxicon-empress .redes{
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 24px
            ;
                }
            
            .passara{
                padding: 10px;
                background-color: #3f3c3c;
                text-align: center;
                display: flex;
                margin-top: 0;
                justify-content: space-around;
                width: 690px;
            }